# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/RoccoLang_v2/v17
/RoccoLang_v2/x64/Debug
*.cd
*.vcxproj
/RoccoLang_v2/RoccoLang_v2.vcxproj.filters
/RoccoLang_v2/RoccoLang_v2.vcxproj.user
/x64/Debug
/RoccoLang_v2.sln
